{% extends 'base.html' %}

{% block title %} Fazer login {% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" id="btnMinMax" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                <span>Min</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">Sair</a></li>
            </ul>
        </div>
    </nav>

<h5> form cadastro banco</h5>


{% endblock %}